.user{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.avatar-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.avatar-container img{
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 2px solid coral;
    border-radius: 50%;
    cursor: pointer;
}
p span{
    color: chocolate;
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 0.5rem;
}
.user-manager{
    display: flex;
    align-items: center;
    gap: 0 0.6rem;
}
button{
    cursor: pointer;
}